<footer class="p-4 bg-white md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="mr-2 h-8" src="assets/images/logo_no_background.png" alt="" srcset="">
            BoostX  
        </a>
        <p class="my-6 text-gray-500 dark:text-gray-400">Your premium source for high-quality preworkout supplements designed to elevate your performance and maximize your workouts. Discover our range of products that deliver energy, focus, and endurance when you need it mos</p>
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023-2024 <a href="#" class="hover:underline">BoostX</a>. All Rights Reserved.</span>
    </div>
  </footer>                            